@font-face {
  font-family: "Daxw04 wide";
  src: url("./fonts/DaxWideMedium.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  color: #061b2b;
}
body {
  font-family: Daxw04 wide, sans-serif;
  font-size: 16px;
  line-height: 24px;
  transition: all 0.3;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Daxw04 wide;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Volkhov;
}

.contaner {
  width: 80%;
  margin: 10px auto;
}

.mess-container {
  width: 100%;
  background-color: #fdce07;
  padding: 10px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
.mess-container a {
  text-decoration: none;
}
.mess-p {
  width: 80%;
  margin: 4px auto;
  text-align: center;
  color: #061b2b;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.5px;
  transition: all 0.4s ease-in-out;
}

.mess-container a .mess-p:hover {
  color: #b81f30;
}

.menu {
  width: 100%;
  display: flex;
  position: fixed;
  top: 40px;
  justify-content: center;
  background-color: transparent;
  z-index: 9000;
}
.menu-contaner {
  width: 95%;
  display: flex;
  position: relative;
  align-items: center;
}
.logo a img {
  width: 150px;
  height: 100px;
  fill: white;
}

.links {
  display: flex;
  position: fixed;
  width: 50%;
  height: 100%;
  transition: ease-in-out 0.5s;
  top: 0px;
  right: -900px;
  z-index: 2;
  background-color: #061b2b;
  background-image: url("./img/section2-bg.png");
  background-position: center;
  background-size: inherit;
  background-repeat: no-repeat;
  /* display: none; */
}
.links ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  width: 100%;
}
.links ul li {
  list-style: none;
  width: 100%;
  transition: ease-in-out 0.3s;
  padding: 5px 50px;
}
.links ul li a {
  text-decoration: none;
  color: white;
  width: 100%;
  transition: ease-in-out 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 22px;
}

.links ul li a:hover {
  color: #fdce07;
  margin-left: 20px;
}
.links ul .line {
  background-color: white;
  width: 80%;
  height: 2px;
  margin-left: 50px;
  margin-top: 10px;
}
.links ul .more-detal {
  width: 100%;
  margin-left: 50px;
  margin-top: 10px;
  color: white;
  opacity: 0.5;
}

#burger-container {
  cursor: pointer;
  position: absolute;
  position: fixed;
  right: 20px;
  z-index: 33333;
}
#burger {
  width: 38px;
  height: 50px;

  /* background-color: black; */
}
#burger span {
  display: block;
  height: 3px;
  width: 38px;
  background-color: white;
  margin-bottom: 7px;
  position: relative;
  top: 0;
  transition: all ease-in-out 0.5s;
}

.closse {
  margin: 10px auto;
  width: 70px;
  height: 70px;
  position: absolute;
  right: 10px;
  top: 1px;
  font-family: sans-serif;
  /* background: crimson; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid white; */
  /* padding: 8px; */
  border-radius: 50%;
  background-color: black;
  transition: 0.5s ease-in-out;
}
.closse i {
  font-size: 26px;
  color: white;
}

.closse-side {
  right: -1500px;
}
.open-side {
  right: 0px;
  z-index: -1;
}
#burger.anmat-burger span:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}
#burger.anmat-burger span:nth-child(2) {
  width: 0;
  opacity: 0;
}
#burger.anmat-burger span:nth-child(3) {
  transform: rotate(-45deg);
  top: -10px;
}
.banur {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;
  background-image: url("./img/5d429d97a839ea6e7a9af279_Digital-Leadership_Img_HOME_01.jpg");
  background-size: cover;
  background-position: center;
}
.banur h3 {
  color: #fff;
  font-family: volkhov;
  font-size: 60px;
  line-height: 68px;
  letter-spacing: 0.2px;
  text-align: center;
}
.obturateur {
  fill: none;
  stroke: currentColor;
  position: static;
}
.bloc-demo {
  color: #fff;
}
.bloc-head {
  display: none;
}
.digital-sec {
  width: 100%;
  height: 100vh;
  display: flex;
}
.left-colo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.elementor-widget-container h1 {
  color: #061b2b;
  font-size: 30px;
  margin: 0;
  line-height: 36px;
  max-width: 456px !important;
  word-wrap: break-word;
  letter-spacing: 0.1px;
}
.elementor-widget-container h2 {
  color: #061b2b;
  font-size: 25px;
  margin-top: 5px;
}
.elementor-widget-container p {
  font-size: 16px;
  height: 40px;
  font-weight: 600;
  color: #061b2bc0;
  line-height: 22px;
  margin-top: 20px;
}
.right-colo {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #061b2b;
  position: relative;
}
/* .elment-colo {
} */

.elementor-widget-container h3 {
  font-size: 33px;
  line-height: 43px;
  height: 90px;
}
.img-holder {
  width: 100%;
  height: 100%;
}
.obturateur {
  color: white;
}
@keyframes wheel {
  from {
    stroke-dashoffset: 1123;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.img-holder {
  background-image: url("./img/5d429dc4a839ea2bd29af757_Digital-Leadership_Img_HOME_02.jpeg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.logo-svg2 {
  display: none;
}

.nothinking {
  width: 100%;
  height: 100vh;
  background-color: #061b2b;
  display: flex;
  flex-direction: column-reverse;
}
.content-last {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 120px;
}
.left-thinking {
  width: 50%;
  height: 100%;
  background-image: url("/img/5d429de0c0e46e689d241164_Digital-Leadership_Img_HOME_03.jpg");
  background-position: initial;
  background-size: cover;
}
.right-thinking {
  width: 50%;
  color: white;
  display: flex;
  justify-content: center;
}
.text-content {
  margin-top: 30px;
  width: 70%;
  padding: 10px;
}
.text-content h1 {
  font-size: 35px;
  margin: 0;
  line-height: 36px;
  letter-spacing: 0.1px;
  font-family: Volkhov;
  margin-bottom: 20px;
}
.text-content p {
  font-size: 16px;
  letter-spacing: 0.11px;
  margin-bottom: 20px;
  color: #ffffff79;
}
footer {
  width: 100%;
  height: calc(100vh - 70px);
}
.footer-content {
  background-color: #fdce07;
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-foter {
  width: 60%;
  text-align: center;
}
.text-foter h2 {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: Volkhov, sans-serif;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.13px;
  text-align: center;
  font-weight: 700;
  color: #fff;
}
.text-foter p {
  margin-bottom: 0;
  color: white;
  letter-spacing: 0.11px;
  font-size: 16px;
  text-align: center;
}
.btn-s {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.btn-modil {
  font-size: 16px;
  font-weight: 400;
  background: #061b2b;
  width: 300px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-modil::before {
  content: "";
  position: absolute;
  background: #b81f30;
  left: -10px;
  height: 500%;
  width: 0%;
  z-index: -1;
  transition: 1s ease-in-out;
  transform: rotate(-20deg);
}
.btn-modil:hover::before {
  width: 150%;
}

.btn-modil a {
  text-decoration: none;
  color: white;
}
.revew {
  width: 100%;
  height: 60px;
  margin-top: 1px;
  background-color: #fdce07;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
}
.revew:hover {
  background-color: white;
  color: #fdce07;
}
.contact {
  width: 90%;
  height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-contact {
  display: flex;
}
.list-contact li {
  margin-left: 30px;
  opacity: 0.7;
  list-style: none;
}
.contact span {
  opacity: 0.5;
}

.list-contact li a {
  text-decoration: none;
  color: #061b2b;
  font-size: 15px;
}
.list-contact li a:hover {
  color: #b81f30;
  opacity: 1;
}
/* all anmatons*/

.active .digital-sec .right-colo .elment-colo .svg-holder #obturateur1 {
  animation: drow 2s forwards;
}
@keyframes drow {
  from {
    stroke-dashoffset: 1123;
  }
  tp {
    stroke-dashoffset: 0;
  }
}

.active .digital-sec .left-colo .elment-colo .elementor-widget-container {
  animation: movefromLeft 1.5s ease-in-out;
}
.active .digital-sec .left-colo .elment-colo .elementor-widget-container p {
  animation: movefromLeft 2s ease-in-out;
}
.active .fp-tableCell .nothinking .content-last .right-thinking .text-content {
  animation: movefromLeft 1s ease-in-out;
}
@keyframes movefromLeft {
  from {
    opacity: 0;
    margin-top: 50px;
  }
  tp {
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 0px;
  }
}
/* start acting section*/
.acting {
  width: 100%;
  height: 100vh;
  display: flex;
}
.left-acting {
  width: 50%;
  height: 100%;
  background-color: #061b2b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-acting div {
  align-items: center;
  justify-items: center;
  margin-top: 20px;
  width: 70%;
  height: 50%;
}
.left-acting div h2 {
  max-width: 456px;
  margin-top: 0;
  margin-bottom: 24px;
  font-family: Volkhov;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #fff;
}
.left-acting div p {
  max-width: 407px;
  margin-bottom: 20;
  color: #697a8a;
  letter-spacing: 0.11px;
}
.right-acting {
  width: 50%;
  height: 100vh;
  background: #061b2b;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sliderr {
  width: 80%;
  height: 80%;
  margin-top: 80px;
  /* overflow: hidden; */
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  display: block;
}
.sliderss {
  /* width: 600px;
  height: 550px; */
  width: 90%;
  height: 90%;
  /* display: flex; */
  background-color: #061b2b;
}
.navigation-auto {
  display: flex;
  position: absolute;
  left: 53%;

  bottom: 10%;
}

.slidee {
  transition: 2s opacity;
  position: absolute;
  opacity: 0;
  margin-top: 30px;
  margin-left: 50px;
}

.item {
  background-color: #061b2b;
  display: grid;
  height: 100%;
  /* margin: 20px; */
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(140px, auto);
  grid-gap: 20px;
}
.item img {
  width: 160px;
}

/*__________*/
.navigation-auto div {
  border: 0.5px solid #fff;
  padding: 3px;
  margin-left: 5px;
  border-radius: 10px;
  cursor: pointer;
}

/* start big slider section*/
.big-slide {
  background-color: #061b2b;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-contaner {
  background-color: #061b2b;
  width: 60%;
  height: 50%;
  /* padding: 60px 0px 0px 0px; */
  position: relative;
}
.slider-contaner input {
  display: none;
}
.slid-item {
  width: 100%;
  height: 100%;
  background-color: #061b2b;
  position: absolute;
  opacity: 0;
  transition: 1s;
}
.slid-item h2 {
  color: #fff;
  max-width: 100%;
  margin-bottom: 48px;
  line-height: 42px;
  letter-spacing: 0.16px;
  font-size: 30px;
}
.slid-item div {
  margin-right: auto;
  margin-left: auto;
  font-family: Daxw04, sans-serif;
  color: #00aeef;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.7px;
}
.slected {
  opacity: 1;
}
.active {
  background-color: #fff;
}

/* ---------------start section funder */
.funder-content {
  width: 100%;
  height: 100vh;
  display: flex;
}
.funder-content-left {
  width: 50%;
  height: 90vh;
}
.funderi-mg {
  width: 100%;
  height: 100%;
  background-image: url("./img/5d429e0fa839eae53a9af8c4_Digital-Leadership_Img_HOME_04.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.funder-content-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.funder-text {
  width: 70%;
  height: 50%;
}
.funder-text h1 {
  color: #061b2b;
  font-size: 30px;
  margin: 0;
  line-height: 36px;
  letter-spacing: 0.1px;
  margin-bottom: 10px;
}
.funder-text p {
  color: #697a8a;
  letter-spacing: 0.11px;
  font-size: 16px;
  max-width: 395px;
  margin-left: 0;
  margin-bottom: 30px;
}
/* ---------------end section funder */

/* ---------------start section people */
.best-people {
  width: 100%;
  height: 100vh;
  display: flex;
}
.best-people-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.best-people-text {
  width: 404px;
  max-width: 404px;
}
.best-people-text h1 {
  color: #061b2b;
  font-size: 30px;
  margin: 0;
  line-height: 36px;
  letter-spacing: 0.1px;
  margin-bottom: 10px;
}
.best-people-text p {
  margin-bottom: 0;
  color: #697a8a;
  letter-spacing: 0.11px;
  font-size: 16px;
  max-width: 404px;
  margin-left: 0;
}
.best-people-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: left;
}
.best-people-img {
  width: 80%;
  height: 80vh;
  background-position: bottom;
  background-size: cover;
  background-image: url("./img/5d429e2a41794c46aa5062df_Digital-Leadership_Img_HOME_05.jpg");
}
